@model IEnumerable<TechShare.Models.Group>

@{
    ViewBag.Title = "Back";
    Layout = null;
}
@Html.ActionLink("戻る", "GroupList","Groups")


@*
    <body>
        <p></p>
        <center>

        </center>
        <p></p>
    </body>
*@

@* @model IEnumerable<TechShare.Models.Group>
    @model TechShare.Models.VM.chat_VM

    @{
        ViewBag.Title = "Title";
        Layout = null;
    }

    <h2>チャット欄</h2>
*@