@* @model IEnumerable<TechShare.Models.Group>*@
@model TechShare.Models.VM.chat_VM

@{
    ViewBag.Title = "Title";
    Layout = null;
}

<h2>チャット欄</h2>
@*
    <img src="/Image1/Photo1.png" />
*@
@*
    <iframe src="http://localhost:59766/Chats/index?id=1" width="680" height="850" scrolling="auto"
            style="position:absolute;
                top:155px;
                left:102px;
                overflow:hidden;
                z-index:10">
    </iframe>
*@